@model MarvinBlogv._2._0.Models.CreateUserViewModel

@{
    ViewBag.Title = "Register"; }

<div class="row justify-content-center">
    <div class="card">

        <div class="card-header">
            <h1 class="text-center">Registration</h1>
        </div>

        <div class="card-body">

            <form method="post">

                <div class="form-group mb-3">
                    <input asp-for="FullName" class="form-control" placeholder="Enter Full Name" required />
                    <span asp-validation-for="FullName" class="text-danger"></span><br>

                    <input asp-for="Email" class="form-control" placeholder="Email Address" required />
                    <span asp-validation-for="Email" class="text-danger"></span><br>

                    <input type="password" asp-for="Password" class="form-control" placeholder="Create Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span><br />

                    <input type="password" asp-for="ConfirmPassword" class="form-control"
                           placeholder="Confirm Password" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br />

                </div>

                <div class="form-group">
                    <input type="submit" value="Register" class="btn" style="background:orchid" />
                    <span class="mr-3">
                        Already Registered?<a asp-area="" asp-controller="User" asp-action="Login">
                            Login
                            Here
                        </a>
                    </span>
                </div>

            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
