<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarvinsBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/sidenav/sidenav.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css" />
    <script src="~/lib/jquery//dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/summernote-0.8.18-dist/summernote-bs4.css" />
    <script src="~/js/popper.min.js"></script>


    <link rel="stylesheet" href="~/lib/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib//bootstrap/dist/css/bootstrap-select.css" />
    <script src="~/js/Jquery2.2.1/Jquery2.1.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-select.min.js"></script>

</head>

<body id="darkmode">
    <button id="btn" onclick="darkmode()">Theme</button>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a asp-controller="Post" asp-action="Create"><i class="fas fa-plus"></i>Add Post</a>
        <a asp-controller="User" asp-action="LogoutOption"><i class="fas fa-sign-out-alt"></i>LogOut</a>

        @*<div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                <a class="dropdown-item" asp-controller="Category" asp-action="Create">Add Category</a>
                <a class="dropdown-item" asp-controller="Category" asp-action="Index">List Category</a>
            </div>*@
        </li>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script src="~/js/sidenav.js"></script>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--/. Sidebar navigation -->
    @*</footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/mdb.min.js"></script>
    <script src="~/fontawesome/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/summernote-0.8.18-dist/summernote.min.js"></script>
    <script src="~/summernote-0.8.18-dist/summernote-bs4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/darkmode.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $('select').selectpicker();
    </script>

    <script>

    $("#summernote").summernote({
        height: 300,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true,                  // set focus to editable area after initializing summernote
        callbacks: {
            onImageUpload: function (files) {
                for (let i = 0; i < files.length; i++) {
                    UploadImage(files[i]);
                }
            }
        }
    });




    function UploadImage(file) {
        var url = '@Url.Action("UploadFile", "Post")';

        formData = new FormData();
        formData.append("aUploadedFile", file);
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (FileUrl) {
               // alert(FileUrl);
                var imgNode = document.createElement('img');
                imgNode.src = FileUrl;
                $('#summernote').summernote('insertNode', imgNode);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }
    </script>

</body>

</html>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $(".button-collapse").sideNav2();
            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
        });
    </script>

}




