@model MarvinBlogv._2._0.Models.ViewModel.CreatePostViewModel

@{
    Layout = "BloggerDashboard";
    ViewBag.Title = "Create Post";
}


<body>
    <!-- <div id="summernote"></div> -->
    <form method="post" asp-controller="Admin" asp-action="Index" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5">
                    <form method="POST">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">Post Your Blog here</h2>
                            </div>
                            <div class=card-body>
                                <div class=form-group>
                                    <div class=form-row col-md-12>
                                        <label class="form-check-label">Enter the Title of your blog</label>
                                        <input asp-for="Title" id="title" name="title" type="text" class="form-control">
                                        <span class="text-danger" asp-validation-for="Title"></span>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label>Feature Image:</label>
                                            <input type="file" name="files" asp-for="FeaturedImageURL" multiple class="form-control" Required>
                                            <span class="text-danger"></span><br>
                                        </div>
                                    </div>

                                    <div class=form-row col-md-12>
                                        <label class="form-check-label">Enter the Description</label>
                                        <input asp-for="Description" id="description" name="description" type="text" class="form-control">
                                        <span asp-validation-for="Description"></span>
                                    </div>

                                    <div class=form-row col-md-12>
                                        <label asp-for="Categories" class="form-check-label">Pick Category/Categories your Post belongs</label>
                                        <select size="5" asp-items="@Model.CategorySelectListItem" class="selectpicker" multiple data-live-search="true" asp-for="Categories">
                                        </select>
                                        <span class="text-danger" asp-validation-for="Categories"></span>
                                    </div>

                                </div>
                                <div id="target" class=form-group>
                                    <div class=form-row col-md-12>
                                        <textarea asp-for="Content" id="summernote" name="content" class="form-control text-danger"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button asp-action="Create" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
